@font-face {
  font-family: 'SF Pro Rounded';
  src: url(/web/SF-Pro-Rounded-Medium.woff2) format('woff2');
  font-style: medium;
  font-weight: 500;
}

@font-face {
  font-family: 'SF Pro Rounded';
  src: url(/web/SF-Pro-Rounded-Semibold.woff2) format('woff2'),
    url(/web/SF-Pro-Rounded-Semibold.otf) format('otf');
  font-style: semibold;
  font-weight: 600;
}

@font-face {
  font-family: 'SF Pro Rounded';
  src: url(/web/SF-Pro-Rounded-Bold.woff2) format('woff2');
  font-style: bold;
  font-weight: 700;
}

html,
body,
div#root {
  font-family: SF Pro Rounded !important;
}